<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>


</body>
<script th:src="@{https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js}"></script>
    <form method="get" action="/user/login" >
        用户名：<input type="text" name="name"/><br/>
        密码：<input type="text" name="pwd"/>
        <input type="submit" value="登录"/>
    </form>
</script>
</html>